@page 
@model TestApplication.Pages.AddCustomerModel
<form method="post" asp-controller="Customer" asp-action="AddCustomer">
    <input asp-for="Name"/>
    <input asp-for="Surname"/>
    <input asp-for="FavoriteNumber"/>
    <input type="submit"/>
</form>