@page 
@model TestApplication.Pages.CustomerModel
<form method="post" asp-controller="Customer" asp-action="AddCustomer">
    <input asp-for="Name"/>
    <input asp-for="Surname"/>
    <input asp-for="Favorite_Number"/>
    <input type="submit"/>
</form>
<form method="post" asp-controller="FindCustomer" asp-action="FindCustomer">
    <input asp-for="Surname" />
    <input type="submit" />
</form>
